.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh;
  gap: 1vh;

  .submit {
    background-color: var(--submit-color);
    font-weight: bold;
    color: var(--primary-color);

    &:hover {
      background-color: var(--submit-color-dark);
    }
  }

  .link {
    text-decoration: none;
    color: var(--submit-color);
    cursor: pointer;

    &:hover {
      color: var(--submit-color-dark);
    }
  }
}
