* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: lightgray;
  --third-color: #888;
  --submit-color: #6e4afc;
  --submit-color-dark: rgba(110, 74, 252, 0.8);
  --google-color: #df4930;
  --google-color-dark: rgba(223, 73, 48, 0.8);
  --facebook-color: #507cc0;
  --facebook-color-dark: rgba(80, 124, 192, 0.8);
  --github-color: #000;
  --github-color-light: rgba(0, 0, 0, 0.7);
}

.page-container {
  height: 92vh;
}
